h1 {
    font-size: 36px;
    line-height: 40px;
    color: rgb(0, 63, 128);
}

h2 {
    font-size: 24px;
    line-height: 24px;
    color: rgb(0, 63, 128);
}

h3 {
    font-size: 20px;
    line-height: 20px;
    color: rgb(0, 63, 128);
}

h4 {
    font-size: 16px;
    line-height: 16px;
    color: rgb(0, 63, 128);
}

body {
    font-size: 16px;
    line-height: 16px;
}