.page {	
	width: auto;
	max-width: 1000px;
	min-width: 600px;
	margin: auto;
	padding: 10px;
	border: solid rgb(0, 63, 128) 2px;
	background-color: rgb(192, 223, 255);
}

.button {
    background-color: rgb(0, 63, 128);
    text-align: center;
    font-size: 16px;
    float: left;
    display: block;    
    text-align: center;
    padding: 10px 20px;
    margin: 10px 0px;
    text-decoration: none;
    border: none;
    color: rgb(192, 223, 255);
    font-weight: bold;
    text-align: center;    
    text-decoration: none;    
}

.button:hover {
	background-color: #111;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 63, 128);
    text-decoration: none;
}

.elements {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    border-right: 1px solid rgb(192, 223, 255);
}

.elements:last:child {
	border-right: none;
}

.elements:last:child {
	border-right: none;
}

.elements:hover {
    background-color: #111;
}

.menulink {
    color: rgb(192, 223, 255);
    font-weight: bold;
    text-align: center;    
    text-decoration: none;
}

.content {
	background-color: rgb(192, 223, 255);
    text-align: justify;
    text-justify: inter-word;
    padding: 10px 10px 10px 10px;
}

.textdiv {
	background-color: rgb(192, 223, 255);
	padding: 10px 10px 10px 10px;
}

.figure {	
	margin: 20px 20px 20px 20px;
	padding: 5px 5px 5px 5px;
	border: solid rgb(0, 63, 127) 2px;
	background-color: white;
}

.autoResizeImage {
    max-width: 100%;
    height: auto;
    width: 100%;
}

image {	
	margin: 20px 20px 20px 20px;
	padding: 5px 5px 5px 5px;
	border: solid rgb(0, 63, 127) 2px;
	background-color: white;
}

body {
    font-size: 16px;
    line-height: 16px;
	background-color: rgb(223, 239, 255);
}

h1 {
    font-size: 36px;
    line-height: 40px;
    color: rgb(0, 63, 127);
    background-color: rgb(192, 223, 255);
	padding: 10px 10px 10px 10px;
}

h2 {
    font-size: 24px;
    line-height: 24px;
    color: rgb(0, 63, 127);
    background-color: rgb(192, 223, 255);
	padding: 10px 10px 10px 10px;
}

h3 {
    font-size: 20px;
    line-height: 20px;
    color: rgb(0, 63, 127);
    background-color: rgb(192, 223, 255);
	padding: 10px 10px 10px 10px;
}

h4 {
    font-size: 16px;
    line-height: 16px;
    color: rgb(0, 63, 127);
    background-color: rgb(192, 223, 255);
	padding: 10px 10px 10px 10px;
}