
#menu {
	 color: rgb(128,191,255);
	 text-decoration: underline;
	 font-weight: bold;
	 font-size: 16px;
	 font-family: monospace;
}

#menu:hover {
	 color: rgb(0,63,127);
}

#leht {
	background-color: rgb(255,255,255);
    text-align: justify;
    text-justify: inter-word;	
}

#divtext1 {
	background-color: rgb(191, 239, 255);	
}

#divtext2 {
	background-color: rgb(191, 239, 255);	
}
#head1special {
	font-size: 36px;
    line-height: 40px;
    color: rgb(128, 63, 0);
}

.pilt {
	border: solid;	
}

body {
	background-color: rgb(223, 239, 255);
}

h1 {
    font-size: 36px;
    line-height: 40px;
    color: rgb(0, 63, 128);
}

h2 {
    font-size: 24px;
    line-height: 24px;
    color: rgb(0, 63, 128);
}

h3 {
    font-size: 20px;
    line-height: 20px;
    color: rgb(0, 63, 128);
}

h4 {
    font-size: 16px;
    line-height: 16px;
    color: rgb(0, 63, 128);
}

body {
    font-size: 16px;
    line-height: 16px;
}
