image {	
	margin: 20px 20px 20px 20px;
	padding: 5px 5px 5px 5px;
	border: solid rgb(0, 63, 127) 2px;
	background-color: white;
}

.klass {
    font-size: 16px;
    line-height: 16px;
    background-color: rgb(255, 255, 255);
    border: solid rgb(0, 63, 127) 2px;
}

body {
    font-size: 16px;
    line-height: 16px;
    background-color: rgb(223, 239, 255);
}

h1 {
    font-size: 36px;
    line-height: 40px;
    color: rgb(0, 63, 127);
    background-color: rgb(192, 223, 255);
	padding: 10px 10px 10px 10px;
}

h2 {
    font-size: 24px;
    line-height: 24px;
    color: rgb(0, 63, 127);
    background-color: rgb(192, 223, 255);
	padding: 10px 10px 10px 10px;
}

h3 {
    font-size: 20px;
    line-height: 20px;
    color: rgb(0, 63, 127);
    background-color: rgb(192, 223, 255);
	padding: 10px 10px 10px 10px;
}

h4 {
    font-size: 16px;
    line-height: 16px;
    color: rgb(0, 63, 127);
    background-color: rgb(192, 223, 255);
	padding: 10px 10px 10px 10px;
}

